.classpath
.project
.settings/
target/
.externalToolBuilders/
*/target/*
*/.settings/*
.pmd
*/.pmd
*/reports/*
rebuild.sh
restart.sh
target
.settings/*
!.settings/.jsdtscope

#idea ignore
*.iml
*.swp
*.ipr
*.iws
.idea/
.idea_modules/

#grade ignore
.gradle
gradle
build
container
