<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <!-- console appender -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n" />
        </layout>
    </appender>
    <!-- debug in file -->
    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/tmp/personfi/logs/Debug.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss}- %c{1}:%L - %p - %m%n" />
        </layout>
    </appender>
    <!-- exception in file -->
    <appender name="exception" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/tmp/personfi/logs/Exception.log" />
        <param name="Threshold" value="error" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} - %c - %p - %m%n" />
        </layout>
    </appender>
    <!-- hibernate file appender -->
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="file" value="/usr/local/web/logs/CZCRM/hibernate.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <!-- application loggers -->
    <logger name="com.github.ligangty">
        <level value="debug" />
    </logger>

    <!-- 3rdparty Loggers -->
    <!-- spring -->
    <logger name="org.springframework">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.core">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.beans">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.context">
        <level value="warn" />
    </logger>
    <logger name="org.springframework.web">
        <level value="warn" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="warn" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
