body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.account_border_bottom {
    border-bottom: 1px dotted #ddd;
}

.input-required {
    color: red;
}

.icoEdt {
    background-image: url(../images/ico_pen.gif);
    background-repeat: no-repeat;
}

.icoDel {
    background-image: url(../images/ico_del.gif);
    background-repeat: no-repeat;
}

.icoInfo {
    background-image: url(../images/ico_info.gif);
    background-repeat: no-repeat;
}

.icoMin {
    background-image: url(../images/ico_min.gif);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

.icoMax {
    background-image: url(../images/ico_max.gif);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}

.icoChart {
    background-image: url(../images/ico_chart.gif);
    background-repeat: no-repeat;
}

.fLe {
    float: left;
}

.fbu {
    color: #0066FF !important
}

.fgn {
    color: #009900 !important
}

.frd {
    color: #B72A00 !important
}

.SummaryTxt {
    text-align: right;
    color: #999;
}

.eInfo {
    height: 19px;
    line-height: 19px;
    margin: 0 5px 10px 0;
    background-color: #fffbca;
    border: 1px solid #e6ce6f;
}

.expBox {
    background-image: url(../images/expboxbg.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 5px;
    margin-top: -5px;
    list-style-type: none;
}

.expBdy {
    border: 1px solid #A0A09E;
    background-color: #FFFFCD;
    border-top: 0;
    padding: 4px 0;
}

.eTb {
    table-layout: fixed;
    width: 100%
}

.eTb th,.eTb td {
    text-align: center;
    padding: 8px 2px
}

.eTb th {
    color: #8e8e8e;
    border-bottom: 1px solid #dcdcdc;
    padding: 4px 2px
}

.eTb td {
    color: #444
}

.tr1 {
    background-color: #ebf2f7
}

.tr1 td {
    border-top: 1px solid #FFF
}

.tr2 {
    background-color: #f2f6f9
}

.tr2 td {
    border-top: 1px solid #FFF
}

.trlev1 {
    background-color: #ebf2f7
}

tr.trlev1 td {
    border-top: 1px solid #dcdcdc;
    font-weight: bold
}

.trlev2 {
    background-color: #f2f6f9
}

.trlev2 td {
    border-top: 1px solid #FFF
}

.trlev1 .td1 {
    text-align: left !important;
    padding-left: 5px
}

.trlev1 .td2 {
    font-weight: normal !important
}

.td3 {
    text-align: left !important
}

td.tdCutL {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.inTb,.smyIn {
    width: 270px;
    float: left;
    margin: 0 0 0 20px
}

.inTb .tr1 {
    background-color: #e9f4d3
}

.inTb .trlev1 {
    background-color: #e9f4d3
}

.inTb .tr2 {
    background-color: #f2f7e7
}

.inTb .trlev2 {
    background-color: #f2f7e7
}

.outTb,.smyOut {
    width: 270px;
    float: right;
    margin: 0 20px 0 0
}

.outTb .tr1 {
    background-color: #fee4e2
}

.outTb .trlev1 {
    background-color: #fee4e2
}

.outTb .tr2 {
    background-color: #feeeed
}

.outTb .trlev2 {
    background-color: #feeeed
}

.inTb a,.outTb a {
    color: #666
}

.disable,.disable * {
    color: #999
}

.sSel {
    width: 135px;
    text-align: center
}